<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cdictv.news">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icpion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icpion"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">


    </activity>

        <activity android:name=".Activity.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity android:name=".Activity.RegisteredActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cdictv.news.cameraalbumtest.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".Activity.SettingUserActivity"/>
        <activity android:name=".Activity.FindMimaActivity">
        </activity>
        <activity android:name=".Activity.ContentActivity">
        </activity>
        <activity android:name=".Activity.LoveActivity">
        </activity>
        <activity android:name=".Activity.VidvoActivity">
        </activity>
        <activity android:name=".Activity.AboutWeActivity">
        </activity>
    </application>

</manifest>